{% load static %}
<div class="row">
    <div class="col-lg scale ">


        <img src="{% static 'main/img/food/hamburger-1238246__340.jpeg' %}"
             alt="" height="300px" width="300px">
        <div class="btn btn-warning text-white">Бургер</div>
    </div>
    <div class="col-lg scale ">
        <img src="{% static 'main/img/food/food-3581341__340.jpeg' %}" alt="" height="300px" width="300px">
        <div class="btn btn-warning text-white">Суши</div>
    </div>
    <div class="col-lg scale">
        <img src="{% static 'main/img/food/pizza-3199081__340.jpeg' %} " alt="" height="300px" width="300px">
        <div class="btn btn-warning text-white">Пицца</div>
    </div>

</div>

