{% extends 'main/layout.html' %}
{% block title %}
    Главная
{% endblock %}
{% block content %}
    <div class="features text-center">
        <h1>Главная Страница</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium debitis dolor ea earum, eos error fugit
            harum itaque, iusto magni nemo quam quas qui repudiandae sapiente similique soluta suscipit voluptatem.</p>
    </div>
    <div class="container">
{% include 'main/food.html' %}



    </div>
{% endblock %}