body {
    background-image: url("../img/circle-blues.png");

}

aside {
    float: left;
    background-color: #3c50ff;
    width: 15%;
    padding: 2.5%;
    height: 85vh;
    color: #fff;
    border-bottom: 5px solid aquamarine;
}

aside ul {
    list-style: none
}

aside ul li {
    color: #fff;
    display: block;
    margin-top: 20px;
    transition: transform .8s ease;
}

aside ul li a {
    color: whitesmoke;
}

aside ul li:hover, aside ul a:hover {
    color: wheat;
    text-decoration: none;
    transform: scale(1.3);
}

div img {
    height: 300px;
    width: 300px;
    border: 5px solid aquamarine;
    border-radius: 20px;
}

.features {
    color: wheat;
}

.scale {
    transition: 1s; /* Время эффекта */
}

.scale:hover {
    cursor: pointer;
    transform: scale(1.2); /* Увеличиваем масштаб */
}
